name: CI
on: [push]
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r26d

      - run: |
          cd module && ndk-build

      - name: Upload ARM64 Artifact
        uses: actions/upload-artifact@v4
        with:
          name: arm64
          path: "module/libs/arm64-v8a/libZygiskHide.so"
      - name: Upload ARM Artifact
        uses: actions/upload-artifact@v4
        with:
          name: arm
          path: "module/libs/armeabi-v7a/libZygiskHide.so"
