name: CI
on: [push]
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup Rust Toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: aarch64-linux-android
          components: rust-src

      - name: Setup NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r27

      - name: Setup Android Toolchain
        run: |
           git clone https://github.com/Adrilaw/aarch64-linux-android-4.9-toolchain/ -b master

      - name: Build Module
        run: |
           make

      - name: Upload Module Artifact
        uses: actions/upload-artifact@v4
        with:
          name: module
          path: "module/ZygiskHide.zip"
